/* invalid input #f79682 */
/* valid input #1fe6a8 */
/* medium strength #f7bc1c */
/* text placeholder #eaeaf4 */

.col-form-label {
    font-weight: 500;
    color: #909095;
    margin: 15px 0 5px 0;
    padding: 0;
}

.col-form-input {
    padding: 10px 15px;
    border-color: #d1d4e2;
    color: #97989b;
    border-radius: 0;
}

.col-form-input::placeholder, .col-form-input:focus {
    color: #97989b;
    border-color: #b7b7b7;
    box-shadow: none;
}

.password-strength-container {
    position: relative;
    height: 8px;
    background: #ddd;
    margin: 10px auto 10px;
}

.password-strength-container:before, .password-strength-container:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 5px 0 5px;
    position: absolute;
    width: 0;
    z-index: 10;
}

.password-strength-container:before {
    left: 33%;
}

.password-strength-container:after {
    right: 33%;
}

.password-strength {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
}

.password-strength[data-score='0'] {
    background: darkred;
    width: 20%;
}
.password-strength[data-score='1'] {
    background: orangered;
    width: 40%;
}

.password-strength[data-score='2'] {
    background: orange;
    width: 60%;
}

.password-strength-steps {
    margin: 0;
    padding: 0;
    list-style: none;
}

.password-strength-steps li {
    padding-left: 1em; 
    text-indent: -.7em;
    color: #909095;
}

.password-strength-steps .none::before {
    content: "• ";
    color: #909095;
    font-size: 25px;
}

.password-strength-steps .success::before {
    content: "• ";
    color: #1fe6a8 !important;
    font-size: 25px;
}

.password-strength-steps .fail::before {
    content: "• ";
    color: #f79682 !important;
    font-size: 25px;
}

.alert-panel {
    background-color: #f79682;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin: 10px 0;
} 